<h2> Detallees {{reporte.name}} </h2> 
<div><span>id: </span>{{reporte.id}}</div> 
<div><span>name:</span> {{reporte.name}}</div>

<ul class="reportes">
    <li *ngFor="let reporte of reportes"
      [class.selected]="reporte === selectedReporte"  (click)="onSelect(reporte)">
      <span class="badge">{{reporte.id}}</span> {{reporte.name}}
    </li>
</ul>

<app-reporte-detalle [reporte] = "selectedReporte"></app-reporte-detalle>

<h2>Agregar reprte</h2>

<div>
  <form appearence = "fill">
    <label>Nombre</label>
    <input Input for ="new-reporte" #reporteName>
  </form>
<form appearance ="fill">
  <label>Id:</label>
  <input Input for="new-reporte" #reporteId>
</form>

<button class ="add-button" (click) ="agregar(reporteName.value, reporteId.value); reporteName.value=''; reporteId.value=''">
  agregar reporte
</button>

</div>